/* reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* basic */
* {
  font-family: 'Mina', sans-serif;
}

/* header */
header {
  background-color: #3498db;
}

header h1 {
  padding: 1em;
  color: #ecf0f1;
  text-align: center;
}

/* banner */
.banner {
  width: 100%;
  height: 500px;
}

/* content */
.content {
  width: 90%;
  margin: 2em auto;
}

.content p {
  font-size: 1.5em;
  text-align: center;
}

/* game_options */
.options {
  width: 290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* button */
.button {
  width: 20%;
  margin: 2em auto;
}

button {
  background-color: #3498db;
  color: #ecf0f1;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

button:hover {
  background-color: #2980b9;
  cursor: pointer;
}

/* game_output */
.gameArea {
  border: 2px solid #3498db;
  border-radius: 10px;
  width: 290px;
  height: 100px;
  margin: 0 auto;
  padding: 2em 0;
}

/* footer */
footer {
  background-color: #3498db;
  margin-top: 3em;
  padding: 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

footer a:hover {
  color: #bdc3c7;
}

.col1 {
  margin-top: -8px;
}

.col1 a {
  color: #FFF;
}

.col1 img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 15px;
  margin-right: 5px;
}

.col2 a {
  color: #FFF;
}
