/* reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* basic */
* {
  font-family: 'Mina', sans-serif;
}

/* header */
header {
  background-color: #3498db;
}

header h1 {
  padding: 1em;
  color: #ecf0f1;
  text-align: center;
}

/* banner */
.banner {

  width: 100%;
  height: 500px;
}

/* content */
.content {
  width: 90%;
  margin: 2em auto;
}

.content p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1.5em;
}

/* game_options */
.options {
  width: 290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* button */
.button {
  width: 20%;
  margin: 2em auto;
}

#startGame {
  margin-top: 1em;
  background-color: #3498db;
  color: #ecf0f1;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

#startGame:hover {
  background-color: #2980b9;
  cursor: pointer;
}

#restart {
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #e74c3c;
  color: #ecf0f1;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

#restart:hover {
  background-color: #c0392b;
}

/* game_output */
.gameArea {
  border: 2px solid #3498db;
  border-radius: 10px;
  width: 290px;
  margin: 0 auto;
  padding: 2em 0;
}

/* footer */
footer {
  background-color: #3498db;
  margin-top: 3.5em;
  padding: 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

footer a:hover {
  color: #bdc3c7;
}

.col1 {
  margin-top: -8px;
}

.col1 a {
  color: #FFF;
}

.col1 img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 15px;
  margin-right: 5px;
}

.col2 a {
  color: #FFF;
}

/* responsive */
@media screen and (max-width: 622px) {
  /* header */
  header {
    position: fixed;
    width: 100%;
  }

  header h1 {
    font-size: 20px;
  }

  /* banner */
  .banner {
    margin-top: 73px;
    height: 440px;
  }

  /* button */
  .button {
    width: 70%;
  }

  /* game_output */
  .gameArea {
    width: 70%;
  }
}

@media screen and (max-width: 560px) {
  /* banner */
  .banner {
    height: 410px;
  }
}

@media screen and (max-width: 495px) {
  /* banner */
  .banner {
    height: 310px;
  }
}

@media screen and (max-width: 404px) {
  /* header */
  header h1 {
    font-size: 16px;
  }

  /* banner */
  .banner {
    margin-top: 59px;
  }

  /* content */
  .content p {
    font-size: 1em;
  }

  /* game_options */
  .options {
    font-size: 1em;
  }

  #startGame, #restart {
    font-size: 1em;
    padding: 10px;
  }

  /* footer */
  .col1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 323px) {
  /* header */
  header h1 {
    font-size: 15px;
  }

  /* banner */
  .banner {
    margin-top: 55px;
  }
}
